# === Angular / Node ===
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.cache/

# === Angular build cache ===
.angular/
.angular/cache/
.angular/cache/**
.angular/cache/**/*


# === IDEs / Editors ===
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# === Logs & Debug ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
*.tsbuildinfo

# === OS Generated ===
.DS_Store
Thumbs.db

# === Environment & Secrets ===
src/environments/environment*.ts
*.local
*.env
.env.*
!.env.example

# === Coverage & Reports ===
coverage/
reports/
test-results/

# === Builds & Artifacts ===
*.tgz
*.zip
*.tar.gz

# === Temporary ===
*.tmp
*.bak
*.orig
*.rej

# === Compiled Assets ===
*.js.map
*.css.map

# === Mac metadata ===
.AppleDouble
.LSOverride

# === Other ===
public/*.bak
public/*.tmp